@model GroupTherapyWebAppFinal.Models.UserModel
@{
    ViewData["Title"] = "Family_Group";
}

@{
    ViewBag.Title = "Family_Group";
}

@{
    Layout = "_Layout";
}

@{
    var Members = ViewData["Members"] as List<UserModel>;
    var Admin = ViewData["Admin"] as List<UserModel>;
    var Pet = ViewData["Pet"] as List<Pet>;
    var Family = ViewData["Family"] as List<FamilyGroup>;
    var Schedules = ViewData["Schedules"] as List<Schedule>;
    int FamID = ViewBag.FamID;
}

<!--Developed by Group Therapy 27/10/2022 -->
<html>

<head>
    <title>PetPal | Family Group</title>
</head>

<body>
    <div class="mainBox">

        <!-- Add in the Main Navigation Menu -->
        <div class="navigationBar">
            <!-- Options for Icon based LOGO or Image based LOGO *******************-->
            <p class="navigationLogoIcon"><span><a href="@Url.Action("Index", "Home")" target="_self"><i class="fa fa-user-circle" aria-hidden="true"></i></a></span></p>
            <!--<p class="navigationLogo"><span><img class="navigationLogoImage" src="images/logo.png"></img></span></p>-->
            <p class="navigationTitleName">LOGO</p>
            <p class="navigationTitleAnchor"></p>

            <!--Search Entry-->
            <form action="/" method="GET" class="form">
                <input type="text" id="search" placeholder="Search..."></input>
            </form>

            <!-- Options for text based nav items or icons ***********************-->
            <!-- Text Based.
              <p class="navigationTitleItem"><a href="index.html">Home</a></p>
             <p class="navigationTitleItem"><a href="">Item</a></p>
            -->
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="Member_Profile" asp-route-UserID="@Model.UserModelID" asp-route-ViewID="@Model.UserModelID">
                        <i class="fa fa-user"
              aria-hidden="true" title="User Profile"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="All_Fam_Groups" asp-route-UserID="@Model.UserModelID">
                        <i class="fa fa-users"
              aria-hidden="true" title="Family Groups"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="All_Pets" asp-route-UserID="@Model.UserModelID">
                        <i class="fa fa-paw"
              aria-hidden="true" title="Pets"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="All_Schedules" asp-route-UserID="@Model.UserModelID">
                        <i class="fa fa-calendar"
              aria-hidden="true" title="Calendar"></i></a></span></p>
        </div>
        <!-- Add in the login button -->
        <div class="navigationBarEnd">
            <a href="" target="_blank">
                <p class="navigationEndItem"><span><a href="" target="_blank"><i class="fa fa-bars"
                                aria-hidden="true"></i></a></span></p>
            </a>    
        </div>

        <div class="lineDivider"> <!--menu divider--></div>

        <!--TabsGroups-->
        @foreach (var item in Family)
        {
            <div class="sectionSub" style="margin-left:30px;">
              <a asp-controller="Home" asp-action="Family_Group" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@item.FamilyGroupID"><button class="buttonCustomTitle">&nbsp;@item.FamilyName&nbsp;</button></a>
            </div>
        }                        
        <br>
      <div class="lineDivider"> <!--menu divider--></div>

        <!--Page title-->
          <p class="pageTitleText">
            Harper Family
         </p>      
        
 
    <!--Family group-->
    <div class="familySection">
        <div class="familyGroup">    
            <!--Admin section-->
            <p class="pageTitleText"> Admin</p>  
            <div class="familyGroupInner">
                
                <Admin>
                    @foreach(var item in Admin)
                    {
                        <div class="familyUserGridItem">
                            <a asp-controller="Home" asp-action="Member_Profile" asp-route-UserID="@Model.UserModelID" asp-route-ViewID="@item.UserModelID"><div class="dashboardUserImage" id="profileMain"></div></a>
                            <p class="textMemberDashboardName" id="member_Name_One">@item.Name</p>
                            <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.Gender</p> 
                            <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.UserType</p>
                        </div>
                    }
                </Admin>

                <a asp-controller="Home" asp-action="Add_Admin" asp-route-FamilyID="@FamID">
                <div class="familyUserGridItem">
                    <p class="textMemberDashboardName" id="member_Name_One" style="font-size:xx-large; margin-top: 25%;">+</p>
                    <p class="textMemberDashboard" id="memberOne_Attribute_One" style="font-size:large;">Add Admin</p>
                </div>
                </a>
            </div>
        </div>
        
        <div class="familyGroup">                        
            <!--Members section-->
            <p class="pageTitleText"> Members</p>  
            <div class="familyGroupInner">

                @foreach(var item in Members)
                {
                    <div class="familyUserGridItem">
                        <a asp-controller="Home" asp-action="Member_Profile" asp-route-UserID="@Model.UserModelID" asp-route-ViewID="@item.UserModelID"><div class="dashboardUserImage" id="profileMain"></div></a>
                        <p class="textMemberDashboardName" id="member_Name_One">@item.Name</p>
                        <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.Gender</p> 
                        <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.UserType</p>
                    </div>
                }

                <a asp-controller="Home" asp-action="Add_Member" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID" >
                <div class="familyUserGridItem">
                    <p class="textMemberDashboardName" id="member_Name_One" style="font-size:xx-large; margin-top: 25%;">+</p>
                    <p class="textMemberDashboard" id="memberOne_Attribute_One" style="font-size:large;">Add Member</p>                                                
                </div>
                </a>

            </div>
        </div>


        <div class="familyGroup">                        
            <!--Pets section-->
            <p class="pageTitleText"> Pets</p>  
            <div class="familyGroupInner">

                @foreach(var item in Pet)
                {
                    <div class="familyUserGridItem">
                        <a asp-controller="Home" asp-action="Pet_Profile" asp-route-UserID="@Model.UserModelID" asp-route-PetID="@item.PetID"><div class="dashboardUserImage" id="profileAnimalOne"></div></a>
                        <p class="textMemberDashboardName" id="member_Name_One">@item.Name</p>
                        <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.Species</p>
                        <p class="textMemberDashboard" id="memberOne_Attribute_One">@item.Breed</p>
                    </div>
                }
                
                <a asp-controller="Home" asp-action="Add_Pet" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID" >
                <div class="familyUserGridItem">
                  <p class="textMemberDashboardName" id="member_Name_One" style="font-size:xx-large; margin-top: 25%;">+</p>
                  <p class="textMemberDashboard" id="memberOne_Attribute_One" style="font-size:large;">Add Pet</p>
                </div>
                </a>

            </div>
        </div>
    </div> <!--End of family group-->

    
    <div class="lineDividerSection"> <!--menu divider--></div>
       <!--Schedule-->
       <div class="sectionSub">              
        <!--Page title Schedules-->
        <p class="pageTitleText"> Schedules</p>
      </div>

      <!--Schedule cards-->
      <div class="sectionSubHorizontal">

            @foreach (var item in Schedules)
            {
                <div class="card">
                    <a asp-controller="Home" asp-action="Schedule_Profile" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@item.FamilyGroupID" asp-route-ScheduleID="@item.ScheduleID"><div class="dashboardUserImage" id="profileAnimalOne"></a>
                    <p class="textEvents" id="member_Name_One">@item.ScheduleName</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Type: @item.ScheduleType</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Frequency: @item.Frequency</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Starts: @item.StartDateTime</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Ends: @item.EndDateTime</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Dose: @item.Dose</p>
                    <p class="cardImageSection" id="memberOne_Attribute_One">Details: @item.Description</p>
                </div>
            }

            <a asp-controller="Home" asp-action="Create_Schedule" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID" >
            <div class="card">
              <br>
              <p class="textEvents" style="font-size: xx-large;">+</p>
              <p class="textEvents" style="font-size: large;">Add Schedule</p>
            </div>            
            </a>

            <a asp-action="Delete_Family_Group" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID" asp-route-FamID="@FamID">
                <button class="buttonCustomTitle">&nbsp;Delete Family Group&nbsp;</button>
            </a>

            <a asp-controller="Home" asp-action="Delete_Admin" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID"><button class="buttonCustomTitle">&nbsp;Remove Admin&nbsp;</button></a>
            <a asp-controller="Home" asp-action="Delete_Member" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID"><button class="buttonCustomTitle">&nbsp;Remove Member&nbsp;</button></a>
            <a asp-controller="Home" asp-action="Delete_Pet" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@FamID"><button class="buttonCustomTitle">&nbsp;Remove Pet&nbsp;</button></a>
            <br></br>
        </div>

      <div class="lineDividerSection"> <!--menu divider--></div>

  <!--Manage Family Group-->
  <div class="sectionSub">              
    <!--Page title Manage Family group-->
    <p class="pageTitleText"> Manage Family Group</p>    
  </div>

    <br>
    <!--WIP adding asp CRUD actions to these buttons-->
  <div class="sectionSub" style="margin-left:30px;">
                      
  </div>


      
  </div>
</body>

</html>