@model GroupTherapyWebAppFinal.Models.UserModel
@{
    ViewData["Title"] = "Member_Profile";
}

@{
    ViewBag.Title = "Member_Profile";
}

@{
    Layout = "_Layout";
}

@{
    var ViewUser = ViewData["ViewUser"] as UserModel;
    var Family = ViewData["Family"] as List<FamilyGroup>;
    var Pet = ViewData["Pet"] as List<Pet>;
}

<!--Developed by Group Therapy 4/10/2022 -->
<html>

<head>
    <title>PetPal | My Profile</title>
</head>

<body>
    <div class="mainBox">

        <!-- Add in the Main Navigation Menu -->
        <div class="navigationBar">
            <!-- Options for Icon based LOGO or Image based LOGO *******************-->
            <p class="navigationLogoIcon"><span><a href="@Url.Action("Index", "Home")" target="_self"><i class="fa fa-user-circle" aria-hidden="true"></i></a></span></p>
            <!--<p class="navigationLogo"><span><img class="navigationLogoImage" src="images/logo.png"></img></span></p>-->
            <p class="navigationTitleName">LOGO</p>
            <p class="navigationTitleAnchor"></p>

            <!--Search Entry-->
            <form action="/" method="GET" class="form">
                <input type="text" id="search" placeholder="Search...">
            </form>

            <!-- Options for text based nav items or icons ***********************-->
            <!-- Text Based.
              <p class="navigationTitleItem"><a href="index.html">Home</a></p>
             <p class="navigationTitleItem"><a href="">Item</a></p>
            -->
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="Member_Profile" asp-route-UserID="@Model.UserModelID" asp-route-ViewID="@Model.UserModelID">
                        <i class="fa fa-user"
              aria-hidden="true" title="User Profile"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="All_Fam_Groups" asp-route-UserID="@Model.UserModelID">
                        <i class="fa fa-users"
              aria-hidden="true" title="Family Groups"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" asp-action="All_Pets" asp-route-UserID="@Model.UserModelID">
                        <i class="fa fa-paw"
              aria-hidden="true" title="Pets"></i></a></span></p>
            <p class="navigationItemIcon">
                <span>
                    <a asp-controller="Home" a
                        sp-action="All_Schedules" asp-route-UserID="@Model.UserModelID"><i class="fa fa-calendar"
              aria-hidden="true" title="Calendar"></i></a></span></p>
        </div>
        <!-- Add in the login button -->
        <div class="navigationBarEnd">
            <a href="" target="_blank">
                <p class="navigationEndItem"><span><a href="" target="_blank"><i class="fa fa-bars"
                                aria-hidden="true"></i></a></span></p>
            </a>    
        </div>

        <div class="lineDivider"> <!--menu divider--></div>

        <!--Page title-->
          <p class="pageTitleText">
            My Profile
         </p>
         <br>
         <!--members profile information-->
         <div class="membersProfileMain">
          <div class="membersProfileSection">
            <div class="membersProfileSectionImage">
              <p class="textEvents" style="font-size:X-large">@ViewUser.Name&nbsp;&nbsp;</p>
              <div class="dashboardUserImage" id="profileOne"></div>                        
            </div>

            <!--Personal profile information-->
            <div class="membersProfileSectionDetails">  
                <p class="textEvents" style="font-size:x-large">Name:@ViewUser.Name&nbsp;&nbsp;</p>
                <p class="textEvents">Age group:@ViewUser.UserType</p>
                <p class="textEvents">Gender:@ViewUser.Gender</p>
                <p class="textEvents">Date Created:@ViewUser.DateCreated</p>
            </div>

                <!--Family infomation-->
            <div class="membersProfileSectionDetails">
              <p class="textEvents" style="font-size:x-large">Family&nbsp;&nbsp;</p>
              @foreach(var item in Family)
              {
                  <p class="textEvents">@item.FamilyName</p>
                  <p class="textEvents">Created: @item.DateCreated</p>
              }                        
              
               
            </div>
                        
            <div class="membersProfileSectionDetails">
                <p class="textEvents" style="font-size:x-large">Pets&nbsp;&nbsp;</p>
                @foreach(var item in Pet)
                {
                   <p class="textEvents">@item.Name</p>     
                }
             
            </div>
            
          </div>

          <div class="membersProfileSection">
            <p class="textEvents" style="font-size:X-large; text-align: left;">Your Family Groups</p>
            <div class="familyGroupInner">
              <Family>
                  @foreach (var item in Family)
                  {
                      <div class="familyUserGridItem">
                        <a asp-controller="Home" asp-action="Family_Group" asp-route-UserID="@Model.UserModelID" asp-route-GroupID="@item.FamilyGroupID"><div class="dashboardUserImage" id="profileMain"></div></a>
                        <p class="textMemberDashboardName" id="member_Name_One">@item.FamilyName</p>
                        <p class="textMemberDashboard" id="memberOne_Attribute_One">Created: @item.DateCreated</p>
                      </div>
                  }
              </Family>

              <div class="familyUserGridItem">
                <p class="textMemberDashboardName" id="member_Name_One" style="font-size:xx-large; margin-top: 25%;">+</p>
                <p class="textMemberDashboard" id="memberOne_Attribute_One" style="font-size:large;">Add Family Group</p>                                                
              </div>     
            </div>          
        </div>
      </div>
      <br></br>
      <div class="lineDividerSection"> <!--menu divider--></div>

       <!--Upcoming Events-->
       <div class="upcomingEvents">

        <div class="upcomingEventsHolder">
            <p class="textEvents">Upcoming Events</p>
            <!--Grid item.-->
            <div class="upcomingEventsGridItem">
                <p class="textEvents">In 2 Hours. FEEDING TIME</p>
            </div>

            <div class="upcomingEventsGridItem">
                <p class="textEvents">Details of upcoming event.</p>
            </div>

            <div class="upcomingEventsGridItem">
                <p class="textEvents">Details of upcoming event.</p>
            </div>

            <div class="upcomingEventsGridItem">
                <p class="textEvents">Details of upcoming event.</p>
            </div>

            <div class="upcomingEventsGridItem">
                <p class="textEvents">Details of upcoming event.</p>
            </div>
            
        </div>
       </div>
    </div>
</body>

</html>
